@using WDAIIP.WEB.Commons
@model WDAIIP.WEB.Models.Unit2Model

@{
    string divControlId = "__divUnit2Control_" + DateTime.Now.Ticks.ToString();
    object htmlAttr = null;
    bool canEdit = false;
}

<div id="@divControlId">
    @Html.HiddenFor(m => m.DISTRICT)
    @Html.HiddenFor(m => m.AREATYPE)

    @if (Model.ShowDISTRICT2 == "Y") {
        canEdit = Model.Enabled & (Model.EidtDISTRICT2 == "Y");
        htmlAttr = (canEdit == true) ? new { @class = "form-control", data_tag = "LIST" } as object : new { @class = "form-control", data_tag = "LIST", disabled = "disabled" };
        @Html.DropDownListFor(m =>m.DISTRICT2, Model.DISTRICT2_list, htmlAttr)
    }

    @{ canEdit = Model.Enabled & (Model.EditOPCD == "Y"); }

    @Html.TextBoxFor(m => m.OPCD, new { @class = "form-control", size = 5, maxLength = 4, placeholder = "代碼", data_tag = "CODE" }, !canEdit)
    <div class="input-group">
        @Html.TextBoxFor(m => m.OPCD_TEXT, new { @class = "form-control formbar-bg", size = 40, placeholder = "單位名稱", data_tag = "NAME" }, true)
        @if (Model.Enabled && Model.ShowButton == "Y") {
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" data-tag="BTN">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>
            </span>
        }
    </div>
</div>

<script type="text/javascript">
    var __Unit2Control = function() {
        var self = this;
        this.control;
        this.boxDistrict2;
        this.boxOpcd;
        this.boxOpcdText;
        this.btnShow;

        function loadNameAsync(data) {
            ajaxLoadMore(data.url, data.arg, function (resp) {
                if (resp === undefined) data.box.val("");
                else {
                    if (resp.data != "") data.box.val(resp.data);
                    else {
                        data.box.val("");
                        blockAlert(data.msg);
                    }
                }
            });
        }

        //顯示單位資料選擇對話框。
        function doUnitSelect() {
            var data = {
                "onclickHandler": "__onUnit2Select",
                "DISTRICT": "@(Model.DISTRICT)",
                "AREATYPE": "@(Model.AREATYPE)",
                "DISTRICT2": (self.boxDistrict2.length == 0) ? "" : self.boxDistrict2.val()
            }
            var url = "@Url.Action("Index", "UNIT2", new { area = "Share" })?" + $.param(data);
            popupDialog(url, "單位資料查詢", "", 800);
        }

        //處理單位資料選取對話框傳回的資料。
        this.onUnitSelect = function(id, name) {
            this.boxOpcd.val(id);
            this.boxOpcdText.val(name);
        }

        //取得單位代碼對應的單位名稱。
        this.doUnitNameGet = function() {
            if (!self.boxOpcd.prop("readonly")) {
                var data = {
                    "url": "@Url.Action("GetExamUnitName", "Ajax", new { area = "" })",
                    "msg": "查無該單位資訊!!",
                    "arg": { "EXAMKIND": "@(Model.EXAMKIND)", "OPCD": self.boxOpcd.val().toUpperCase() },
                    "box": self.boxOpcdText
                };
                if ($.trim(data.arg.OPCD) == "") data.box.val("");
                else {
                    self.boxOpcd.val(data.arg.OPCD);
                    loadNameAsync(data);
                }
            }
        }

        //初始化物件
        this.initialize = function () {
            self.control = $("#@divControlId");
            self.boxDistrict2 = self.control.find("select[data-tag=\"LIST\"]");
            self.boxOpcd = self.control.find("input[data-tag=\"CODE\"]");
            self.boxOpcdText = self.control.find("input[data-tag=\"NAME\"]");
            self.btnShow = self.control.find("button[data-tag=\"BTN\"]");
            self.btnShow.on("click", doUnitSelect);
        }
    }

    var __Unit2Control = new __Unit2Control();
    __Unit2Control.initialize();

    //處理單位資料選取對話框傳回的資料。
    function __onUnit2Select(id, name) {
        __Unit2Control.onUnitSelect(id, name);
    }

    $(function() {
        //單位代碼文字框失去輸入焦點事件處理。
        __Unit2Control.boxOpcd.on("blur", __Unit2Control.doUnitNameGet);
    })
</script>

