@using WDAIIP.WEB.Models
@model ClassConfirm001ViewModel
@{
    ViewBag.Title = "課程錄訓名單--產業人才投資方案";
    Layout = "~/Views/Shared/_MainLayout_NoClassSearch.cshtml";
}

@*@using (Html.BeginForm("Index", "Classconfirm001", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" })) {*@

<div class="col-sm-12">
    <!-- bread start --->
    <div class="breadlink">
        <a title="中間主要功能選項區" accesskey="C" id="C" href="#C" style="text-decoration:none;">:::</a>
        <i class="fa fa-home space-right" aria-hidden="true">
        </i>目前位置：<a href="@Url.Content("~/")" title="回首頁">首頁</a> / 課程錄訓名單 / 產業人才投資方案
    </div>
    <!-- bread end --->
    <h3 class="main-title main-title-green"><i class="fab fa-readme space-right"></i>課程錄訓名單</h3>
    <!-- result table -->
    <div class="table-responsive">
        <table width="100" border="0" cellspacing="0" cellpadding="0" class="table search-table table-blue">
            <thead>
                <tr>
                    <th width="30%">訓練單位名稱</th>
                    <th width="30%">訓練班別</th>
                    <th width="15%">課程代碼</th>
                    <th width="15%">公告日期</th>
                    <th width="10%">參訓名單</th>
                </tr>
            </thead>
            <tbody id="rows">
                @Html.Partial("_GridRows", Model)
            </tbody>
        </table>
    </div>
    <!--  pager start -->
    @Html.Partial("_PagingLink", Model.Form)

</div>
<div class="submit-bar">
    <button type="button" class="btn-orange" onclick="goback()" title="回上一頁">回上一頁</button>
</div>

@*}*@

<script type="text/javascript">
    //回上一頁
    function goback() {
        var url = '@Url.Action("Index")';
        goBackPage(url, {}, 2, 'GET');
    }

    function showDetail(OCID, CFGUID, CFSEQNO) {
        var data = { "OCID": OCID, "CFGUID": CFGUID, "CFSEQNO": CFSEQNO };
        var url = '@Url.Action("Detail", "ClassConfirm001")';
        goBackPage(url, data, 2, 'POST');
    }

    function ajaxCallback(rasp) {
        if (rasp) {
            $("#rows").empty().html(rasp.Result);
        }
    }
</script>
