@using WDAIIP.WEB.Commons
@using WDAIIP.WEB.Models
@using WDAIIP.WEB.DataLayers
@model ClassSearchViewModel

@*Model.Form.PlanType "1":產投 "2":分署自辦在職訓練 "5": //區域據點*@

@if (Model == null || Model.Form == null) { return; }

@switch (Model.Form.PlanType)
{
    case "1": //產投
        @Show_PlanType1_28()
        break;

    case "2": //分署自辦在職訓練
        @Show_PlanType2_06()
        break;

    case "5": //區域據點
        @Show_PlanType5_70()
        break;
}

@functions {
    public string DistinctFormat(double? d)
    {
        return string.Format("{0: ###0.##}", d);
    }
}


@helper Show_PlanType1_28()
{
    int i_colspan1 = Model.Form.ProvideLocation == "Y" ? 14 : 13;

    if (Model == null || Model.Grid1 == null || Model.Grid1.Count == 0)
    {
        <tr valign="middle">
            <td colspan="@(i_colspan1)" style="text-align:center;">尚無資料</td>
        </tr>
    }
    else
    {
        //取得目前(DB)系統時間
        MyKeyMapDAO keyDao = new MyKeyMapDAO();
        DateTime nowTime = keyDao.GetSysDateNow();
        //「訓練班別」、「課程名稱」有期別則顯示期別
        var v_OJT22090201 = keyDao.GetSystemConfig("OJT22090201");
        bool flag_ShowClass2 = (!string.IsNullOrEmpty(v_OJT22090201) && v_OJT22090201 == "Y") ? true : false;

        for (int i = 0; i < Model.Grid1.Count; i++)
        {
            var item = Model.Grid1[i];
            string v_CLASSCNAME = flag_ShowClass2 ? item.CLASSCNAME2 : item.CLASSCNAME;
            string sel_id1 = string.Concat("Grid28_SELECTIS_", i);
            string cls_id1 = string.Concat("Grid28_OCID_", i);
            string strStatus = "招生中";
            string strColor = "black";
            string strOpOthWin = "●「另開新視窗」";
            string strUrlN1 = string.Format("ClassSearch/Detail?PlanType={0}&OCID={1}", Model.Form.PlanType, item.OCID);
            if (item.SENTERDATE != null && item.FENTERDATE != null)
            {
                if (string.IsNullOrEmpty(Convert.ToString(item.TNUM))) { item.TNUM = 0; }
                int intCnt = (new MyKeyMapDAO()).GetEnterCount(item.OCID); // 取得報名人數 (扣除e網審核失敗)

                if (DateTime.Compare(nowTime, Convert.ToDateTime(item.SENTERDATE)) < 0)
                {
                    strStatus = "尚未開始招生";
                }
                else if (DateTime.Compare(nowTime, Convert.ToDateTime(item.FENTERDATE)) > 0)
                {
                    strStatus = "已招生結束";
                }
                else if (Convert.ToString(item.ISCLOSED) == "Y")
                {
                    strStatus = "此班已結訓";
                }
                else if (Convert.ToString(item.ISCLOSED) == "N" && DateTime.Compare(nowTime, Convert.ToDateTime(item.FENTERDATE)) < 0 && (intCnt >= item.TNUM))
                {
                    //未結訓班級
                    //小於報名截止日
                    //報名人數大於等於訓練人數
                    strStatus = "接受以備取身份報名";

                    if (!string.IsNullOrEmpty(Convert.ToString(item.ADMISSIONS)))
                    {
                        switch (Convert.ToString(item.ADMISSIONS))
                        {
                            case "1": strStatus = "招生中"; strColor = "red"; break;
                            case "2": strStatus = "接受以備取身份報名"; break;
                            case "3": strStatus = "報名額滿"; strColor = "red"; break;
                        }
                    }
                }
            }
            <tr valign="middle">
                <td align="center" headers="tb1-a">
                    <input id="@(sel_id1)" title="請勾選" type="checkbox" value="@(item.OCID)" />
                    <input id="@(cls_id1)" type="hidden" value="@(item.OCID)" />
                    @*@Html.CheckBoxFor(m => m.Grid1[i].SELECTIS, new { title = "請勾選" })
                        @Html.HiddenFor(m => m.Grid1[i].OCID)*@
                </td>
                <td style="text-align:left" headers="tb1-b">
                    <a title="@v_CLASSCNAME" href="javascript:doDetail('@(Model.Form.PlanType)','@(Model.Form.ProvideLocation)','@(item.OCID)');">@v_CLASSCNAME</a>
                    <a title="@v_CLASSCNAME" href="@Url.Action("Detail", "ClassSearch", new { @PlanType = Model.Form.PlanType, @OCID = item.OCID })" target="_blank">@strOpOthWin</a>
                </td>
                <td align="center" headers="tb1-c">@(item.OCID)</td>
                <td align="center" headers="tb1-d">@(item.TNUM)</td>
                <td align="center" headers="tb1-e">@(item.THOURS)</td>
                <td align="center" headers="tb1-f tb1-f1">@(item.DEFSTDCOST)</td>
                <td align="center" headers="tb1-f tb1-f2">@(item.DEFGOVCOST)</td>
                <td align="center" headers="tb1-g">
                    @if (!string.IsNullOrEmpty(item.CTNAME1))
                    {<div>(學) @(item.CTNAME1)</div>}
                    @if (!string.IsNullOrEmpty(item.CTNAME2))
                    {<div>(術) @(item.CTNAME2)</div>}
                    @if (!string.IsNullOrEmpty(item.DISTANCE_N))
                    {<div>@(item.DISTANCE_N)</div>}
                </td>

                @if (Model.Form != null && Model.Form.ProvideLocation == "Y")
                {
                    <td align="center" headers="tb1-h">@(DistinctFormat(item.Distance1)) </td>
                    <td align="center" headers="tb1-h">@(DistinctFormat(item.Distance2)) </td>
                }

                <td align="center" headers="tb1-i">
                    @if (item.SENTERDATE != null)
                    {
                        @((Convert.ToDateTime(item.SENTERDATE).Year - 1911).ToString() + Convert.ToDateTime(item.SENTERDATE).ToString("/MM/dd HH:mm:ss"))
                    }
                    <br />|<br />
                    @if (item.FENTERDATE != null)
                    {
                        @((Convert.ToDateTime(item.FENTERDATE).Year - 1911).ToString() + Convert.ToDateTime(item.FENTERDATE).ToString("/MM/dd HH:mm:ss"))
                    }
                </td>
                <td style="color:@strColor;" headers="tb1-j">@strStatus</td>
                <td align="center" headers="tb1-k">
                    @if (item.STDATE != null)
                    {
                        @((Convert.ToDateTime(item.STDATE).Year - 1911).ToString() + Convert.ToDateTime(item.STDATE).ToString("/MM/dd"))
                    }
                    <br />|<br />
                    @if (item.FTDATE != null)
                    {
                        @((Convert.ToDateTime(item.FTDATE).Year - 1911).ToString() + Convert.ToDateTime(item.FTDATE).ToString("/MM/dd"))
                    }
                </td>
                <td headers="tb1-l">@item.ENTERSUPPLYSTYLE</td>
            </tr>
        }

    }
}

@helper Show_PlanType2_06()
{
    int i_colspan1 = Model.Form.ProvideLocation == "Y" ? 10 : 9;

    if (Model == null || Model.Grid2 == null || Model.Grid2.Count == 0)
    {
        <tr valign="middle">
            <td colspan="@(i_colspan1)" style="text-align:center;">尚無資料</td>
        </tr>
    }
    else
    {
        //取得目前(DB)系統時間
        //MyKeyMapDAO keyDao = new MyKeyMapDAO();
        //DateTime nowTime = keyDao.GetSysDateNow();
        //「訓練班別」、「課程名稱」有期別則顯示期別
        //var v_OJT22090201 = keyDao.GetSystemConfig("OJT22090201");
        //bool flag_ShowClass2 = (string.IsNullOrEmpty(v_OJT22090201) && v_OJT22090201 == "Y") ? true : false;

        for (int i = 0; i < Model.Grid2.Count; i++)
        {
            var item = Model.Grid2[i];
            //string v_TRAINCLASS = flag_ShowClass2 ? item.TRAINCLASS2 : item.TRAINCLASS;
            string v_TRAINCLASS = item.TRAINCLASS;
            string strOpOthWin = "●「另開新視窗」";
            string strUrlN1 = string.Format("ClassSearch/Detail?PlanType={0}&OCID={1}", Model.Form.PlanType, item.OCID);
            <tr valign="middle">
                <td align="center">
                    @Html.CheckBoxFor(m => m.Grid2[i].SELECTIS, new { title = "請勾選" })
                    @Html.HiddenFor(m => m.Grid2[i].OCID)
                </td>
                <td style="text-align:left">
                    <a title="@v_TRAINCLASS" href="javascript:doDetail('@(Model.Form.PlanType)','@(Model.Form.ProvideLocation)','@(item.OCID)');">@v_TRAINCLASS</a>
                    <a title="@v_TRAINCLASS" href="@Url.Action("Detail", "ClassSearch", new { @PlanType = Model.Form.PlanType, @OCID = item.OCID })" target="_blank">@strOpOthWin</a>
                </td>
                <td>@(item.TRAINORG)</td>
                <td align="center">@(item.TRAINPLACE)</td>
                @if (Model.Form.ProvideLocation == "Y")//TODO:顯示距離
                {
                    <td align="center">@(item.Distance)</td>
                }
                <td>@(item.CJOBNAME)</td>
                <td align="center">
                    @if (item.SENTERDATE != null)
                    {
                        @((Convert.ToDateTime(item.SENTERDATE).Year - 1911).ToString() + Convert.ToDateTime(item.SENTERDATE).ToString("/MM/dd HH:mm:ss"))
                    }
                    <br />|<br />
                    @if (item.FENTERDATE != null)
                    {
                        @((Convert.ToDateTime(item.FENTERDATE).Year - 1911).ToString() + Convert.ToDateTime(item.FENTERDATE).ToString("/MM/dd HH:mm:ss"))
                    }
                </td>
                <td align="center">
                    @if (item.STDATE != null)
                    {
                        @((Convert.ToDateTime(item.STDATE).Year - 1911).ToString() + Convert.ToDateTime(item.STDATE).ToString("/MM/dd"))
                    }
                    <br />|<br />
                    @if (item.FTDATE != null)
                    {
                        @((Convert.ToDateTime(item.FTDATE).Year - 1911).ToString() + Convert.ToDateTime(item.FTDATE).ToString("/MM/dd"))
                    }
                </td>
                <td align="center">
                    @*@Html.Raw(item.TPERIODNAME)*@
                    @Html.Raw(MyHelperUtil.ChangeBreakLine(item.NOTE3))
                </td>
                <td align="center">@(item.TRAINEDGE)</td>
            </tr>
        }
    }

}
@helper Show_PlanType5_70()
{
    //int i_colspan1 = 8;
    if (Model == null || Model.Grid3 == null || Model.Grid3.Count == 0)
    {
        <tr valign="middle">
            <td colspan="8" style="text-align:center;">尚無資料</td>
        </tr>
    }
    else
    {
        //取得目前(DB)系統時間
        //MyKeyMapDAO keyDao = new MyKeyMapDAO();
        //DateTime nowTime = keyDao.GetSysDateNow();
        //「訓練班別」、「課程名稱」有期別則顯示期別
        //var v_OJT22090201 = keyDao.GetSystemConfig("OJT22090201");
        //bool flag_ShowClass2 = (string.IsNullOrEmpty(v_OJT22090201) && v_OJT22090201 == "Y") ? true : false;

        for (int i = 0; i < Model.Grid3.Count; i++)
        {
            var item = Model.Grid3[i];
            //string v_TRAINCLASS = flag_ShowClass2 ? item.TRAINCLASS2 : item.TRAINCLASS;
            string v_TRAINCLASS = item.TRAINCLASS;
            string strOpOthWin = "●「另開新視窗」";
            string strUrlN1 = string.Format("ClassSearch/Detail?PlanType={0}&OCID={1}", Model.Form.PlanType, item.OCID);
            <tr valign="middle">
                <td style="text-align:left">
                    <a title="@v_TRAINCLASS" href="javascript:doDetail('@(Model.Form.PlanType)','@(Model.Form.ProvideLocation)','@(item.OCID)');">@v_TRAINCLASS</a>
                    <a title="@v_TRAINCLASS" href="@Url.Action("Detail", "ClassSearch", new { @PlanType = Model.Form.PlanType, @OCID = item.OCID })" target="_blank">@strOpOthWin</a>
                </td>
                <td>@(item.TRAINORG)</td>
                <td align="center">@(item.TRAINPLACE)</td>
                @if (Model.Form.ProvideLocation == "Y")//TODO:顯示距離
                {
                    <td align="center">@(item.Distance)</td>
                }
                <td>@(item.CJOBNAME)</td>
                <td align="center">
                    @if (item.SENTERDATE != null)
                    {
                        @((Convert.ToDateTime(item.SENTERDATE).Year - 1911).ToString() + Convert.ToDateTime(item.SENTERDATE).ToString("/MM/dd HH:mm:ss"))
                    }
                    <br />|<br />
                    @if (item.FENTERDATE != null)
                    {
                        @((Convert.ToDateTime(item.FENTERDATE).Year - 1911).ToString() + Convert.ToDateTime(item.FENTERDATE).ToString("/MM/dd HH:mm:ss"))
                    }
                </td>
                <td align="center">
                    @if (item.STDATE != null)
                    {
                        @((Convert.ToDateTime(item.STDATE).Year - 1911).ToString() + Convert.ToDateTime(item.STDATE).ToString("/MM/dd"))
                    }
                    <br />|<br />
                    @if (item.FTDATE != null)
                    {
                        @((Convert.ToDateTime(item.FTDATE).Year - 1911).ToString() + Convert.ToDateTime(item.FTDATE).ToString("/MM/dd"))
                    }
                </td>
                <td align="center">@Html.Raw(item.TPERIODNAME)</td>
                <td align="center">@(item.TRAINEDGE)</td>
            </tr>
        }
    }
}
