@model WDAIIP.WEB.Models.ClassConfirm002ViewModel
@{
    ViewBag.Title = "課程錄訓名單--自辦在職進修";
    Layout = "~/Views/Shared/_MainLayout_NoClassSearch.cshtml";
}
@using (Html.BeginForm("Index", "Classconfirm002", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
{
    <div class="col-sm-12">
        <!-- bread start --->
        <div class="breadlink"><a title="中間主要功能選項區" accesskey="C" id="C" href="#C" style="text-decoration:none;">:::</a><i class="fa fa-home space-right" aria-hidden="true"></i>目前位置：<a href="@Url.Content("~/")" title="回首頁">首頁</a> / 課程錄訓名單 / 分署自辦在職訓練</div>
        <!-- bread end --->
        <h3 class="main-title main-title-green"><i class="far fa-list-alt space-right"></i>課程錄訓名單查詢</h3>
        <!-- search form start -->
        <div class="unit-border">
            <div class="clearfix"></div>
            <p></p>
            <p></p>
                <form class="form-horizontal">
                    <div class="form-group-search">
                        @Html.CustomLabelFor(m => m.Form.DISTIDITEM, new { @class = "form-label-search" })
                        @*<label for="Form_DISTIDITEM" class="form-label-search">分署別</label>*@
                        <div class="form-input">
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Form.DISTIDITEM, Model.DISTIDITEM_list, "請選擇", new { @class = "form-normal", title="請選擇分署別" })
                            </div>
                            </div>
                        </div>
                    <div class="form-group-search">
                        @Html.CustomLabelFor(m => m.Form.CLASSCNAME, new { @class = "form-label-search" })
                        @*<label for="keyword" class="form-label-search">課程名稱關鍵字</label>*@
                        <div class="form-input">
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Form.CLASSCNAME, new { @class = "form-control", placeholder = "請輸入課程名稱關鍵字", title = "請輸入課程名稱關鍵字" })
                             </div>
                            </div>
                        </div>
                    <div class="form-group-search">
                        @Html.CustomLabelFor(m => m.Form.OCID_TEXT, new { @class = "form-label-search"})
                        @*<label for="keyword" class="form-label-search">班別代碼</label>*@
                        <div class="form-input">
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Form.OCID_TEXT, new { @class = "form-control", placeholder = "請輸入課程代碼", title = "請輸入課程代碼" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group-search"> </div>
                    <div class="clearfix"></div>
                    <div class="submit-bar">
                        <button type="submit" class="btn-orange" title="送出">送出</button>
                        <button type="reset" class="btn-refill" title="取消">取消</button>
                    </div>
                </form>
            <p></p>
            <p></p>
                <!-- search form end -->
        </div>
    </div>
    <div class="clearfix"></div>

}